* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #FAFAF8;
    line-height: 1.5;
    background-color: rgb(179, 179, 179);
    /* background-color: #0A0A0A; */
}

.panel {
    margin: 0;
    height: auto;
    padding: 25px;
    text-align: initial;
    gap: 12px;
    background-color: rgb(44, 44, 44);
    color: white;
}

.panel button {
    border: none;
    background: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.panel span {
    font-size: 16px;
    padding-left: 10px;
}

#main{
    margin-top: 30px;
    padding: 20px;
    text-align: initial;
}

#main #seccion1 h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px
}

section{
    margin-bottom: 100px;
}

h2{
    font-size: 40px;
    margin-bottom: 30px;
}

h3{
    font-size: 25px;
    margin-bottom: 30px;
}

h4{
    font-size: 23px;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
}

b{
    color: #1E293B;
}

.iconos{
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
}

.imagen{
    padding: 0;
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 180px;
    border-radius: 10px;
}

.centro{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    gap: 20px; 
    padding: 40px;
    width: auto;
    justify-items: center;
}

.contenido div{
    border: 1px solid #cccc;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
}

.contenido div:hover{
    box-shadow: 5px 5px 30px #5f5f5f;
}

.contenido p{
    font-size: 15px;
}

.tarjeta{
    max-width: 340px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}

.tarjeta p {
    padding: 15px;
}

.tarjeta button{
    align-items: flex-end;
}

.codigo{
    padding: 10px;
    font-size: 18px;
    width: 90%;
    border-radius: 10px;
}

.contenido-proyectos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px; 
    padding: 0px;
    width: auto;
}

.contenido-proyectos p {
    margin-bottom: 30px;
}

.tags{
    padding: 10px;
    width: auto;
    height: auto;
    background-color: blue;
    color: cornflowerblue;
    border-radius: 8px;
}


.contacto{
    text-align: center;
    justify-items: center;
    border: 1px solid #cccc;
    border-radius: 30px;
    padding: 40px 20px 40px 20px; 
    width: 100%;
    max-width: 340px;
}

.contacto h2{
    margin-bottom: 40px;
}

.contacto p{
    border: 1px solid #cccc; 
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 180px;
    margin-bottom: 20px;
    background-color: rgb(58, 58, 58);
    text-align: center;
}

.contacto a{
    color: white;
    text-decoration: none;
}

.contacto img{
    margin-right: 15px;
    text-align: center;
}

.imagen-contacto{
    width: 100%;
    max-width: 25px;
}

.menu_lateral{
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: rgb(44, 44, 44);
    transform: translateX(-100%); /* lo esconde corriéndolo fuera de pantalla */
    transition: transform 0.3s ease;
    z-index: 20;
}

.menu_lateral.abierto {
    transform: translateX(0); /* lo trae de vuelta a la vista */
}

.menu_lateral div{
    text-align: initial;
    padding: 25px;
}

.menu_lateral button{
    border: none;
    background: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.menu_lateral p{
    margin: 40px;
}

.menu_lateral a{
    text-decoration: none;
    color: white;
}

.footer{
    text-align: center;
}

.footer p{
    font-size: 13px;
}

@media (width <= 576px){

    #main{
        justify-items: center;
    }

    #main #seccion1{
        padding-left: 20px;
    }

    .contenido {
        justify-items: center;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .contenido-proyectos {
        justify-items: center;
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: repeat(1, 1fr);
    }
}

@media ((width >= 577px) and (width <= 991px)){
    #main{
        justify-items: center;
    }

    #main #seccion1{
        padding-left: 20px;
    }

    .contenido {
        justify-items: center;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .contenido-proyectos {
        justify-items: center;
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: repeat(1, 1fr);
    }
}

@media ((width >= 992px) and (width <= 1279px)){
    #main{
        justify-items: center;
    }

    #main #seccion1{
        padding-left: 20px;
    }

    .contenido {
        justify-items: center;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 50px;
    }

    .contenido-proyectos {
        justify-items: center;
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media (width >= 1280px){
    #main{
        justify-items: center;
    }

    #main #seccion1{
        padding-left: 20px;
    }

    .contenido {
        justify-items: center;
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        gap: 50px;
    }

    .contenido-proyectos {
        justify-items: center;
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}